<div class="container">
  <h1>Ödev Listesi</h1>
  <h3><b>Öğrenci No :</b> 20201132051 </h3>
  <h3><b>Öğrenci Ad Soyad :</b> Ahmet </h3>

<button mat-fab color="primary" matTooltip="Öğrenci Listesi" [routerLink]="['/ogrenci']">
  <mat-icon aria-label="label">arrow_back</mat-icon>
</button>
<p>&nbsp;</p>
<mat-form-field appearance="outline" style="width : 50%">
  <mat-label>Ödev Seçiniz</mat-label>
  <mat-select placeholder="Ödev Seçiniz" (selectionChange)="OdevSec($event.value)">
    <mat-option [value]="'odev.odevId'" *ngFor="let odev of odevler">{{odev.odevAdi}}</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;&nbsp;
<button mat-fab color="primary" matTooltip="Ödev Ekle" (click)="Kaydet()">
  <mat-icon aria-label="label">add</mat-icon>
</button>


<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="odevAdi">
      <mat-header-cell *matHeaderCellDef> Ödev Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.odevBilgi.odevAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

       <button mat-icon-button color="warn" matTooltip="Ödev Kaydını Sil" (click)="Sil(kayit)">
         <mat-icon aria-label="label">delete</mat-icon>
       </button>
      </mat-cell>
      </ng-container>
  
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
